.options-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
    flex-wrap: wrap;
}

.admin{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    display: grid;
    align-items: center;
    justify-content: center;
}