.img-display{
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.options-2{
    width: 80px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hover-item{
    cursor: pointer;
}