.container {
	/* display: grid;
	grid-template-columns: 7fr 3fr; */
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.call-center{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.screenshot{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.user{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
}
.myId {
	border-radius: 5px;

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
	max-width: 540px;
	
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}
.video-container {
	/* grid-template-columns: 1fr 1fr; */
	position: relative;
	/* min-width: 300px;
	max-width: 500px;
	min-height: 400px;
	max-height: 600px; */
	width:600px;
	height: 400px;
	z-index: -10;
}

.video-container .video-other{
	position: absolute;
	background-color: black;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	min-height: 400px;
	z-index: -1;
}
@media (max-width:600px){
	.video-container{
		width: 350px;
	}
	.video-container .video-other{
		width:350px;
	}
}
.video-container .video-my{
	position: absolute;
	top:0;
	left:0;
}
.video-container .overlay-text{
	position: absolute;
	top:80%;
	left:10%;
	/* top: 200px;
	bottom: 10px;
	left:10%;
	right:10%; */
	z-index:10;
	color: cornsilk;
}
.caller {
	text-align: center;
	color: #fff;
}
.options{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}
/* body {
	background: #4776e6; 
	background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); 
	background: linear-gradient(
		to right,
		#8e54e9,
		#4776e6
	); 
} */
